<h1>News</h1>
<h2>Auf ein neues</h2>
Nach langer Pause möchte ich hier ein paar Neuigkeiten bringen.
Ich habe mich in der Zwischenzeit überwiegend um berufliches, private
Dinge und ein wenig Musik machen gekümmert. <br><br>
Wo wir bei Musik sind: Es ist etwas Equipment dazugekommen, anderes ist gegangen
und Nick, der Gitarrist von
<a href="https://bellrope.bandcamp.com/releases">
	<strong>Bellrope</strong>
</a>
 hat sich von mir einen Germanium Booster bauen
lassen. <br><br>
Anfang November hatte ich mich nun aufgerafft meine Codingskills wieder etwas
zu erweitern und ein lange geplantes Vorhaben umgesetzt mich intensiver
mit Angular zu befassen. Dabei herausgekommen ist mein neues <i>Angular 7</i>
und <i>Firestore</i> Projekt
<a href="https://ropasclispock.firebaseapp.com/">
	<strong>ropasclispock</strong>
</a>.
 Eine interaktive Stein, Papier, Schere, Echse, Spock App inkl. "Computergegener".
Es fehlt zwar noch ein vernünftiges Loggingframework, da plane ich <i>ngx-logger</i>
zu nutzen und die Unittests lassen auch noch zu Wünschen übrig, aber es ist soweit
spielbar und eine nette Basis für mehr.
<hr>
<h2>Neue Homepage</h2>
<p>
	<a href="assets/img/greenguitar.jpg"><img src="assets/img/greenguitar-small.jpg"
		alt="greeny" class="fleft" style="width: 96px; height: 128px;"></a>
	Auf dieser Seite findet ihr Infos zu meinen Hobbies und
	Coding-Projekten. Zur Zeit ist hier noch überwiegend Baustelle...
</p>
