<h1>Impressum</h1>
<h2>webmaster/Autor</h2>
<p>Jochen Peuker</p>
<h2>Kontakt</h2>
<p>
	<a href="mailto:jochen.peuker@online.de">jochen.peuker@online.de</a>
</p>
<h2>disclaimer</h2>
<p>Ich übernehme keine Verantwortung für extern verlinkte Inhalte.
	Diese obliegt dem jeweilige Veröffentlicher.</p>

<p>Diese Seite wird nach bestem Wissen und Gewissen erstellt.
	Sollten dennoch Fehler auftreten, so bitte ich darum mich kurz zu
	benachrichten, damit ich diese korrigieren kann.</p>

<p>Sollen hier veröffentlichte Inhalte anderweitig genutzt werden,
	bitte ich darum mir das vorher mitzuteilen und auf deren Ursprung zu
	verweisen.</p>

<p>Bei Fragen beziehungsweise Kritik an Inhalt oder Darstellungen
	bitte ich darum, eine Mail an obige eMail-Adresse zu schicken.</p>
